<!-- Se importa el head.ejs que es la parte superior de la pagina-->
<% include ../partials/headindex.ejs %>
<!-- Aqui van a aparecer los eventos que hay-->
    <main>
        <div class="container margin-top-2">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h4 class="margin-top-0 font-weight-3">Eventos Disponibles</h4>
                </div>
                <div id="principal" class="row">
                        
                </div>
            </div>
            <div id="modal" class="modal">
                <div class="modal-content">
                    <div id="mapa"></div>
                </div>
            </div>
        </div>
    </main>
<!--Fin de Aqui van a aparecer los eventos que hay-->
<script>
</script>
<!-- Se importa el footer.ejs que es la parte final de la pagina-->
<% include ../partials/footer.ejs %>