    <!-- Se importan los js que necesitan las paginas y las librerias-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/materialize.min.js "></script>
    <script src="js/sweetalert2.min.js"></script>
    <script src="js/qrcode.min.js"></script>
    
    <script src="js/app.js" type="module"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyGss-fa1rksjcGAlanWOMRAssWEPYq-s"></script>
</body>
</html>